<div class="col-lg-4">  
    <img class="img-thumbnail" src="~/image/Product.jfif" alt="Товар"/>
    <h2 class="mt-3">@Model.Name</h2>
    <p>Артикул: @Model.Articul</p>
    <p>Цена: @Model.Value.ToString("C")</p>
    <p><a class="btn btn-warning" asp-controller="ShopCart" asp-action="AddItemToCart" asp-route-id="@Model.Id">Добавить в корзину</a></p>
</div>  