@model ShopCartViewModel

<head>
    <title>@ViewBag.Title</title>
</head>
<div class="container">
    @{
        foreach (var item in Model.ShopCart.Items)
        {
            <div class="alert alert-warning mt-3">
                <b>Товар:</b>@item.Good.Name<br/>
                <b>Цена:</b>@item.Good.Value.ToString("C")
            </div>
        }
    }
    <hr/>
    <a class="btn btn-danger" asp-controller ="Order" asp-action="CheckOut">Оплатить</a>
</div>
